# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# PyCharm project files
.idea/

# Data
data/data_clinical.xlsx
data/images_*

# Results
results/

